</main>
<br>
<footer>
            <div class="padding:30px;">
                <div class="row" align="center">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Organisor</h3>
                        <ul>
                            <a href="https://www.uu.nl/" target="_blank">
                            <img src="\assets\images\uu logo.png" alt="" style="width: 20%;"></a>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3  item">
                        <h3>Sponsor</h3>
                        <ul>
                            <a href="https://www.uu.nl/" target="_blank">
                            <img src="\assets\images\TBD.png" alt="" style="width: 20%;"></a>
                        </ul>
                    </div>
                   </div>
                <p class="copyright" align="center">Company Name © ICSOB 2024</p>
            <div id="back-to-top" class="back-to-top">
                 <button class="btn btn-dark" title="Back to Top" style="display: block;">
                     <i class="fa fa-angle-up"></i>
            </button>
        </div>
 </div>
</footer>

{%- include partials/modal_link.html -%}

{%- if site.conference.live.streaming.enable -%}
{%- include partials/modal_live.html -%}
{%- endif -%}

<!-- Append build time to avoid caching of live program embedded in JavaScript file -->
<script src=" {{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: " %s" }}"></script>

</body>

</html>
