</main>
<br>
<br/>

<footer>
            
            <div class="padding:30px;">
                <div class="row" align="center">
                <hr/>
            <br/>
                    <div class="col">
                        <h3>Organizor</h3>
                        <ul>
                            <a href="https://www.uu.nl/" target="_blank">
                            <img src="\assets\images\uu logo.png" alt="" style="width: 30%;"></a>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Sponsor</h3>
                        <ul>
                            <a href="https://www.nwo.nl/en#/" target="_blank">
                            <img src="\assets\images\NWO.png" alt="" style="width: 7%;"></a>
                        </ul>
                    </div>
                   </div>
            <p><b></b><center><font size = "3" align="center">The 15th International Conference on Software Business (ICSOB 2024)</font></center></b></p>
            <p><b></b><center><font size = "3" align="center">NOVEMBER 19-22, 2024, Utrecht University, The Netherlands</font></center></b></p>
            <div id="back-to-top" class="scroll-arrow" align="right">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
               <a href="#back-to-top">
              <div class="fa fa-angle-up" style="color: #ffffff;"></div>
              
            </a>
            </button>
        </div>
 </div>
</footer>

{%- include partials/modal_link.html -%}

{%- if site.conference.live.streaming.enable -%}
{%- include partials/modal_live.html -%}
{%- endif -%}

<!-- Append build time to avoid caching of live program embedded in JavaScript file -->
<script src=" {{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: " %s" }}"></script>

</body>

</html>
