<style>
  .main-image {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    background: url(assets/images/utrecht.png) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;

  }

  .containerimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .containerimg h1 {
    margin: 0;
    font-size: 40px;
  }

  /* .containerimg h1 span {
    border: 3px solid white;
    padding: 6px 14px;
    display: inline-block;
  }
*/

  .cen {
    margin: 20px;
    display: block;
    font-size: 26px;
  }

  .cen2 {
    margin: 10px;
    display: block;
    font-size: 22px;
  }

  span {
    color: white;
  }

  @media (max-width: 650px) {
    #twitter {}



    #flexbox>div {
      flex-basis: 51%;
    }
  }

  #flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  #content {
    flex: 70%;
  }

  #twitter {
    flex: 30%;
  }

  /*
  @keyframes spin3D {
    from {
      transform: rotateY(0deg)
    }

    to {
      transform: rotateY(360deg)
    }
  }



  */
</style>





<div class="main-image">
  <div id="snow">
    <div class="containerimg">
      <h1><span>The 15th International Conference on Software Business (ICSOB 2024)</span></h1>
      <span class="cen">November 19-21, 2024</span>
      <span class="cen">Utrecht, The Netherlands</span>
    </div>
  </div>
</div>
{% include analytics.html %}
{% include partials/header.html %}




<div id="flexbox">
  <div style="padding-right: 50px;" id="content">

    {{ content }}

  </div>
  <div style="padding: 5px; right: 100px;" id="twitter">
    <a class="twitter-timeline" data-height="1650" data-theme="light"
      href="https://twitter.com/ICSOBconf?ref_src=twsrc%5Etfw">Tweets by ICSOBconf</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

{% include partials/footer.html %}
